@import "font-far.css";
* {
    box-sizing: border-box;
    outline: none;
}
html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #f8f8f8;
    font-family: Roboto,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
input, textarea, button{
    font-size: inherit;
    font-family: inherit;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: max-content;
    width: calc(100% - (.6 * (100% - 320px)));
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e3e4e5;
}
.message_container{
    flex-grow: 1;
    width: 100%;
    height: auto;
    min-height: calc(100% - 5em);
    padding: 0.25em 0;
    display: flex;
    flex-direction: column;
}
.message{
    word-break: break-word;
    width: calc(100% - 2em);
    margin-left: auto;
    margin-right: auto;

    &__header{
        display: flex;
    }
    &__user-name{
        //width: calc(100% - 200px);
        font-weight: bold;
    }
    &__data{
        width: 200px;
        color: #808080;
        text-align: end;
    }

    &:not(&--new-user) > &__header{
        display: none;
    }
    &--new-user{
        margin-top: 1.5em;
    }
}
.write-message{
    margin-top: 1em;
    padding: 1em;
    height: auto;
    min-height: 5em;
    width: 100%;
    border-top: solid 1px #e3e4e5;

    &__error{
        text-align: center;
        margin-bottom: 1em;
    }
}
.flex-space{
    flex-grow: 1;
}

.bottom-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__user-name{
        width: 100%;
        display: flex;
        margin-bottom: 1em;
    }
    &__name, &__pass{
        min-width: 15em;
        margin-bottom: 0.25em;
    }
    & input{
        width: 100%;
        min-height: 1.6em;
    }
    &__error{
        font-size: 0.75rem;
        padding: 0 0.5em;
    }
    &__button-container{
        min-width: 15em;
        display: flex;
        flex-wrap: wrap;
    }
    &__button{
        flex-grow: 1;

        &:first-child{
            margin-right: 1em;
        }
    }
    & button{
        cursor: pointer;
    }
    &__button-call{
        min-width: 15em;
        flex-grow: 1;
    }
    &__message, & textarea{
        min-height: 4em;
        width: 100%;
        max-width: 100%;
        min-width: 15em;
    }
    &__message{
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
    }
    &__pass-container{
        position: relative;
        display: flex;
        justify-content: center;
        & > input{
            padding-right: 2em;
        }
    }
    &__icon-pass{
        width: 2em;
        opacity: .5;
        cursor: pointer;
        transition: .25s ease-in-out opacity;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;

        &:hover{
            opacity: 0.8;
            transition: 0.25s ease-in-out;
        }
    }
}